{
  "env": {
    "production": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "react"
      ]
    }
  },
  "presets": [
    "es2015",
    "react"
  ]
}